DB_HOST=rm-example.mysql.rds.aliyuncs.com
DB_PORT=3306
DB_USER=example_readonly_user
DB_PASSWORD=
DB_NAME=example_database
DB_CONNECT_TIMEOUT=10
DB_READ_TIMEOUT=30
DB_WRITE_TIMEOUT=30
DB_MYSQL_GET_SERVER_PUBLIC_KEY=true
